<% layout('../boilerplate') %>
<% stylesheet('/css/style.css') -%>
<% script('https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js') -%>
<% script('https://www.gstatic.com/firebasejs/7.21.0/firebase-firestore.js') -%>
<% script('https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js') -%>
<% script('/js/addProduct.js') -%>
<% include ../partials/header %>
<h5><%= category %></h5>
<a href="javascript:history.back()" class="btn cyan">Back</a>
<button class="btn green" onclick="openAddForm()" id="<%= category %>">Add To <%= category %></button>
<div class="row" id="displayProducts">
    <% categoryProducts.forEach(element => { %>
    <div class="col s12" style="padding: 10px;">
        <div>
            <div class="row">
                <div class="col s12">
                    <p class="center-align"><a href="/viewProduct/<%= element.id %>" class="btn blue">View</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h5>Name : <%= element.data().productName %></h5>
                </div>
                <div class="col s12">
                    Hindi Name : <%= element.data().productNameHindi %>
                </div>
                <div class="col s12">
                    Company : <%= element.data().company %>
                </div>
                <% element.data().varients.forEach(varient => { %>

                <div class="col s6">
                    Var Name : <%= varient.varientName %>
                    <br>
                    Var Qty : <%= varient.varientQty %>
                    <br>
                    Disc. Price : <%= varient.discountPrice %>
                    <br>
                    Original Price : <%= varient.priceOriginal %></p>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <br>
    <% }) %>
</div>
<div class="row container">
    <form enctype="multipart/form-data" onsubmit="addProductTodb(event)" id="addProductForm" style="display: none;">
        <div class="col s12">
            <div class="row">
                <div class="col s6">Name : </div>
                <div class="col s6 input-field">
                    <input type="text" name="name" id="name" required>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6">Company : </div>
                <div class="col s6 input-field">
                    <input type="text" name="company" id="company" required>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6">Hindi Name : </div>
                <div class="col s6 input-field">
                    <input type="text" name="nameHindi" id="nameHindi" required>
                </div>
            </div>
        </div>
        
        <div class="col s12">
            <div class="row">
                <div class="col s6">Description : </div>
                <div class="col s6 input-field">
                    <input type="text" name="description" id="description">
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6">Varient Name : </div>
                <div class="col s6 input-field">
                    <input type="text" name="varientName" id="varientName" required>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6">Varient Quantity : </div>
                <div class="col s6 input-field">
                    <input type="number" name="varientQty" id="varientQty" required>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6">Discount Price : </div>
                <div class="col s6 input-field">
                    <input type="number" name="discountPrice" id="discountPrice" required>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6">Original Price : </div>
                <div class="col s6 input-field">
                    <input type="number" name="priceOriginal" id="priceOriginal" required>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s6">Upload Image : </div>
                <div class="col s6">
                    <input type="file" name="productImage" id="productImage" required>
                </div>
            </div>
        </div>        
        <div class="col s12">
            <div class="row">
                <div class="col s6"><div class="btn red" onclick="closeForm()">Cancel</div></div>
                <div class="col s6 input-field">
                    <input type="hidden" name="category" id="category" value="<%= category %>">
                    <input type="submit" value="submit" class="btn green">
                </div>
            </div>
        </div>
        
    </form>
</div>
